/* Reset */
*,
*::before,
*::after {
  box-sizing: border-box;
}
/* Custom properties */
:root {
  --font-family-primary: "Roboto", sans-serif;
  --font-weight-regular: 400;
  --font-weight-bold: 700;
  --letter-spacing: 3px;
  --text-transform: uppercase;
  --color-primary: #007aff;
  --color-light: #ffffff;
  --color-lightgrey: #f9f9f9;
  --color-dark: #303030;
  --font-size-h1: 3rem;
  --font-size-h2: 2.25rem;
  --font-size-h3: 1.25rem;
  --font-size-body: 1rem;
  --box-shadow: 0.25em 0.25em 0.75em rgba(0, 0, 0, 0.25),
    0.125em 0.125em 0.25em rgba(0, 0, 0, 0.15);
}
/* Media query */
@media (min-width: 800px) {
  :root {
    --font-size-h1: 4.5rem;
    --font-size-h2: 3.75rem;
    --font-size-h3: 1.5rem;
    --font-size-body: 1.125rem;
  }
}
/* General styles */
body {
  color: var(--color-dark);
  margin: 0;
  font-family: var(--font-family-primary);
  font-size: var(--font-size-body);
  line-height: 1.6;
  letter-spacing: var(--letter-spacing);
}
section {
  padding: 5em 0.5em;
}
img {
  display: block;
  max-width: 100%;
}
strong {
  font-weight: var(--font-weight-bold);
}
/* Button styling */
.btn {
  display: inline-block;
  padding: 0.8em 1.2em;
  background-color: var(--color-primary);
  color: var(--color-light);
  text-decoration: none;
  border: 0;
  outline: 0;
  border-radius: 5px;
  font-size: 15px;
}
.btn:hover {
  background-color: #046ad8;
}
.btn-project {
  display: inline-block;
  padding: 0.8em 1.2em;
  margin-bottom: 1em;
  background-color: var(--color-primary);
  color: var(--color-light);
  text-decoration: none;
  border: 0;
  outline: 0;
  border-radius: 5px;
  font-size: 15px;
}
.btn-project:hover {
  background-color: #046ad8;
}
.btn-form {
  display: inline-block;
  padding: 0.8em 1.2em;
  margin-top: 2em;
  background-color: var(--color-primary);
  color: var(--color-light);
  text-decoration: none;
  border: 0;
  outline: 0;
  border-radius: 5px;
  cursor: pointer;
  font-size: 15px;
}
.btn-form:hover {
  background-color: #046ad8;
}
.btn-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  font-size: 15px;
  padding: 5px 10px;
  background-color: var(--color-primary);
  color: var(--color-light);
  cursor: pointer;
  border: 0;
  outline: 0;
  text-decoration: none;
  border-radius: 5px;
}
.btn-top:hover {
  background-color: #046ad8;
}
/* Typography */
h1,
h2,
h3 {
  line-height: 1;
  margin: 0;
}
h1 {
  font-size: var(--font-size-h1);
  text-transform: var(--text-transform);
}
h2 {
  font-size: var(--font-size-h2);
  text-transform: var(--text-transform);
}
h3 {
  font-size: var(--font-size-h3);
  text-transform: var(--text-transform);
}
.section__title {
  margin-bottom: 0.25em;
}
.section__subtitle {
  margin: 0;
  font-size: var(--font-size-h3);
}
/* Header */
header {
  display: flex;
  justify-content: space-between;
  padding: 1em;
}
/* Navbar */
.navbar {
  position: fixed;
  background-color: var(--color-lightgrey);
  color: var(--color-dark);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 100;
  transform: translateX(-100%);
  transition: transform 250ms cubic-bezier(0.5, 0, 0.5, 1);
}
.navbar__list {
  list-style: none;
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  margin: 0;
  padding: 0;
  text-transform: var(--text-transform);
}
.navbar__link {
  color: inherit;
  font-weight: var(--font-weight-bold);
  font-size: var(--font-size-h2);
  text-decoration: none;
}
.navbar__link:hover {
  color: var(--color-primary);
}
.navbar-toggle {
  padding: 0.5em;
  background-color: transparent;
  border: 0;
  outline: 0;
  cursor: pointer;
  position: absolute;
  left: 1em;
  top: 1em;
  z-index: 1000;
}
.navbar-open .navbar {
  transform: translateX(0);
}
.navbar-open .navbar-toggle {
  position: fixed;
}
.navbar-open .hamburger {
  transform: rotate(45deg);
}
.navbar-open .hamburger::before {
  transform: rotate(90deg) translateX(-6px);
}
.navbar-open .hamburger::after {
  opacity: 0;
}
.hamburger {
  display: block;
  position: relative;
}
.hamburger,
.hamburger::before,
.hamburger::after {
  background-color: var(--color-primary);
  width: 2em;
  height: 3px;
  border-radius: 1em;
  transition: transform 250ms ease-in-out;
}
.hamburger::before,
.hamburger::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
}
.hamburger::before {
  top: 6px;
}
.hamburger::after {
  bottom: 6px;
}
/*  Introduction section  */
.introduction {
  position: relative;
}
.section__title--introduction {
  font-weight: var(--font-weight-regular);
}
.section__title--introduction strong {
  display: block;
}
.section__subtitle--introduction {
  background-color: var(--color-primary);
  color: var(--color-light);
  padding: 0.25em 1em;
  font-weight: var(--font-weight-bold);
  margin-bottom: 1em;
}
.introduction__img {
  box-shadow: var(--box-shadow);
}
.section__subtitle--introduction {
  display: inline-block;
}
/* Media query */
@media (min-width: 600px) {
  .introduction {
    display: grid;
    width: min-content;
    margin: 0 auto;
    grid-column-gap: 1em;
    grid-template-areas:
      "img title"
      "img subtitle";
    grid-template-columns: min-content max-content;
  }
  .introduction__img {
    grid-area: img;
    min-width: 250px;
    position: relative;
    z-index: 2;
  }
  .section__subtitle--introduction {
    align-self: start;
    grid-column: -1 / 1;
    grid-row: 2;
    text-align: right;
    position: relative;
    left: -1.5em;
    width: calc(100% + 1.5em);
  }
}
/*  Skills section  */
.skills {
  color: var(--color-dark);
  text-align: center;
}
.section__title--skills {
  color: var(--color-dark);
  position: relative;
}
.section__title--skills::after {
  content: "";
  display: block;
  width: 2em;
  height: 1px;
  margin: 0.5em auto 1em;
  background-color: var(--color-dark);
  opacity: 0.25;
}
.section__subtitle--skills {
  color: var(--color-dark);
  font-weight: var(--font-weight-bold);
  margin-bottom: 4em;
}
.skillset {
  margin-bottom: 4em;
}
.skill {
  max-width: 500px;
  margin: 0 auto;
}
/* Media query */
@media (min-width: 800px) {
  .skillset {
    display: flex;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
  }

  .skill + .skill {
    margin-left: 2em;
  }
}
/* Profile section */
.profile {
  max-width: 1000px;
  margin: 0 auto;
}
.section__subtitle--profile {
  background-color: var(--color-primary);
  color: var(--color-light);
  padding: 0.25em 1em;
  font-weight: var(--font-weight-bold);
  margin-bottom: 1em;
}
.profile__img {
  box-shadow: var(--box-shadow);
}
/* Media query */
@media (min-width: 600px) {
  .profile {
    display: grid;
    grid-template-columns: 1fr 200px;
    grid-template-areas:
      "title img"
      "subtitle img"
      "text img";
    grid-column-gap: 2em;
  }
  .section__title--profile {
    grid-area: title;
  }
  .section__subtitle--profile {
    grid-column: 1 / -1;
    grid-row: 2;
    position: relative;
    left: -1em;
    width: calc(100% + 2em);
    padding-left: 1em;
    padding-right: calc(200px + 4em);
  }
  .profile-text {
    padding: 0 2em;
  }
  .profile__img {
    grid-area: img;
    position: relative;
    z-index: 2;
  }
}
/* Portfolio section */
.portfolio {
  color: var(--color-dark);
  text-align: center;
}
.section__title--portfolio::after {
  content: "";
  display: block;
  width: 2em;
  height: 1px;
  margin: 0.5em auto 1em;
  background-color: var(--color-dark);
  opacity: 0.25;
}
.section__subtitle--portfolio {
  color: var(--color-dark);
  font-weight: var(--font-weight-bold);
  margin-bottom: 4em;
}
.projects {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}
.project__item {
  position: relative;
  overflow: hidden;
}
.project__img {
  width: 100%;
  filter: brightness(25%);
}
.project__content {
  position: absolute;
  top: 50%;
  left: 50%;
  color: var(--color-light);
  transform: translate(-50%, -50%);
}
.project__content h3 {
  font-size: 1rem;
  text-transform: none;
}
.project__content p {
  font-size: 0.8rem;
}
.project__img:hover {
  opacity: 0.8;
}
/* Contact section */
.contact {
  max-width: 1000px;
  margin: 0 auto;
}
.section__subtitle--contact {
  background-color: var(--color-primary);
  color: var(--color-light);
  padding: 0.25em 1em;
  font-weight: var(--font-weight-bold);
  margin-bottom: 1em;
}
/* Form styling */
.form {
  font-family: inherit;
  font-size: 16px;
}
.form__item {
  display: flex;
  flex-direction: column;
}
.form__item > * {
  align-self: flex-start;
}
.form__label {
  font-weight: var(--font-weight-regular);
  color: #6c757d;
  padding: 10px 0;
}
.form__input {
  -webkit-appearance: none;
  display: block;
  width: 100%;
  padding: 0.8em;
  font-size: 0.9em;
  font-family: inherit;
  background-color: #f9f9f9;
  border: 0;
  outline: 0;
}
.form__textarea {
  -webkit-appearance: none;
  display: block;
  width: 100%;
  resize: none;
  height: 200px;
  padding: 0.8em;
  font-size: 0.9em;
  font-family: inherit;
  background-color: #f9f9f9;
  border: 0;
  outline: 0;
}
/* Google recaptcha styling */
.g-recaptcha {
  margin-top: 2em;
}
/* Footer */
.footer {
  background-color: var(--color-lightgrey);
  text-align: center;
  padding: 1em 0;
  font-size: var(--font-size-h3);
}
.footer a {
  color: inherit;
  text-decoration: none;
}
p.footer__copyright {
  padding: 0;
  margin: 0;
}
.footer__copyright {
  color: #6c757d;
  font-size: 0.7rem;
  font-weight: var(--font-weight-regular);
}
.social-list {
  list-style: none;
  display: flex;
  justify-content: center;
  margin: 0.8em 0 0.8em;
  padding: 0;
}
.social-list__item {
  margin: 0;
  color: var(--color-primary);
}
.social-list__link {
  margin: 0.5em;
}
/* Individual project page */
.project-item-individual {
  padding: 1em 2em 2em;
  max-width: 1000px;
  margin: 2em auto;
}
.project-item-individual h1 {
  max-width: 600px;
  margin: 0 auto;
}
.project-item-individual p {
  max-width: 600px;
  margin: 4em auto;
}
.btn-group-one {
  max-width: 600px;
  margin: 2em auto;
}
.btn-group-two {
  max-width: 600px;
  margin: 2em auto;
}
