*,
*::before,
*::after {
  box-sizing: border-box;
}
/* custom properties */
:root {
  --font-family-primary: 'Montserrat', sans-serif;
  --font-weight-regular: 400;
  --font-weight-bold: 700;
  --light-color: #f9f9f9;
  --dark-color: #303030;
  --accent-color: #007aff;
  --font-size-h1: 3rem;
  --font-size-h2: 2.25rem;
  --font-size-h3: 1.25rem;
  --font-size-body: 1rem;
  --box-shadow: 0.25em 0.25em 0.75em rgba(48, 48, 48, 0.25),
    0.125em 0.125em 0.25em rgba(48, 48, 48, 0.15);
  --border-radius: 5px;
}
@media (min-width: 800px) {
  :root {
    --font-size-h1: 4.5rem;
    --font-size-h2: 3.75rem;
    --font-size-h3: 1.5rem;
    --font-size-body: 1.125rem;
  }
}
html {
  scroll-behavior: smooth;
}
/* general styles */
body {
  font-family: var(--font-family-primary);
  font-size: var(--font-size-body);
  line-height: 1.6;
  color: var(--dark-color);
  background-color: var(--light-color);
  margin: 0;
}
section {
  padding: 5em 0.5em;
}
img {
  display: block;
  max-width: 100%;
}
strong {
  font-weight: var(--font-weight-bold);
}
.btn {
  display: inline-block;
  background-color: var(--accent-color);
  color: var(--light-color);
  padding: 0.5em 1.75em;
  margin: 1em 0 0 5em;
  box-shadow: 0 10px 1em rgba(48, 48, 48, 0.3);
  border-radius: var(--border-radius);
  cursor: pointer;
  text-decoration: none;
}
.link {
  color: var(--accent-color);
  text-decoration: none;
  outline: none;
}
.mr {
  margin-right: 0.5em;
}
/* typography */
h1,
h2,
h3 {
  line-height: 1;
  margin: 0;
}
h1 {
  font-size: var(--font-size-h1);
}
h2 {
  font-size: var(--font-size-h2);
}
h3 {
  font-size: var(--font-size-h3);
}
.section-title {
  margin-bottom: 1em;
}
.section-subtitle {
  margin: 0;
  font-size: var(--font-size-h3);
}
/* menu */
.menu {
  position: fixed;
  background-color: #ffffff;
  color: var(--dark-color);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 100;
  transform: translateY(-100%);
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0);
}
.menu-list {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  margin: 0;
  padding: 0;
}
.menu-item {
  list-style: none;
}
.menu-link {
  color: var(--dark-color);
  font-weight: var(--font-weight-bold);
  font-size: var(--font-size-h2);
  text-decoration: none;
}
.menu-toggle {
  position: absolute;
  top: 1em;
  left: 1em;
  width: 36px;
  height: 30px;
  padding: 0;
  background-color: transparent;
  border: none;
  cursor: pointer;
  z-index: 200;
}
.menu-toggle:focus {
  outline: none;
}
.menu-open .menu {
  transform: translateY(0);
}
.menu-open .menu-toggle {
  position: fixed;
}
.menu-open .bar::before {
  transform: translateY(0) rotate(45deg);
}
.menu-open .bar::after {
  transform: translateY(0) rotate(-45deg);
}
.bar {
  display: block;
  position: relative;
}
.bar::before,
.bar::after {
  background-color: var(--dark-color);
  width: 35px;
  height: 2px;
  transition: transform 0.3s ease-in-out;
}
.bar::before,
.bar::after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
}
.bar::before {
  transform: translateY(-0.5rem);
}
.bar::after {
  transform: translateY(0.2rem);
}
/* intro */
.section-title-intro {
  font-weight: var(--font-weight-regular);
}
.section-title-intro strong {
  display: block;
}
.section-subtitle-intro {
  background-color: var(--accent-color);
  color: var(--light-color);
  font-weight: var(--font-weight-bold);
  padding: 0.25em 1em;
  margin: 0.5em 0;
}
.section-subtitle-intro {
  display: inline-block;
}
@media (min-width: 600px) {
  .intro {
    display: grid;
    width: min-content;
    margin: 4em auto 0;
    grid-column-gap: 1em;
    grid-template-areas:
      "img title"
      "subtitle subtitle";
    grid-template-columns: min-content max-content;
  }
  .intro-img {
    grid-area: img;
    min-width: 250px;
  }
  .section-subtitle-intro {
    grid-column: -1 / 1;
  }
}
/* my services */
.my-services {
  text-align: center;
}
.services {
  margin-bottom: 4em;
}
.service {
  max-width: 500px;
  margin: 0 auto;
}
@media (min-width: 800px) {
  
  .services {
    display: flex;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
  }
  .service + .service {
    margin-left: 2em;
  }
}
/* about me */
.about-me {
  max-width: 1000px;
  margin: 0 auto;
}
.section-title-about {
  text-align: center;
}
.section-subtitle-about {
  background-color: var(--accent-color);
  color: var(--light-color);
  padding: 0.25em 1em;
  font-weight: var(--font-weight-bold);
  margin-bottom: 1em;
}
.about-text {
  padding: 0.5em;
}
@media (min-width: 600px) {
  .about-me {
    display: grid;
    grid-template-columns: 1fr 400px;
    grid-template-areas:
      "title title"
      "subtitle subtitle"
      "text img";
    grid-column-gap: 2em;
  }
  .section-title-about {
    grid-area: title;
  }
  .section-subtitle-about {
    grid-column: 1 / -1;
  }
}
/* my work */
.my-work {
  max-width: 1000px;
  margin: auto;
}
.section-title-projects {
  text-align: center;
}
.projects {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
}
.project-item {
  margin: 1rem;
  padding: 2em;
  text-align: center;
  background-color: #ffffff;
  box-shadow: 0 .5em 1em -.125em rgba(48, 48, 48, .1), 0 0 0 1px rgba(48, 48, 48, .02);
  border-radius: var(--border-radius);
}
.project-item h3 {
  margin: 2em 0 1em 0;
}
/* contact me */
.contact-me {
  max-width: 1000px;
  margin: 0 auto;
}
.section-title-contact {
  text-align: center;
}
.form-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}
.form {
  width: 800px;
  padding: 0 2rem;
}
.form-group {
  margin: 2rem 0;
}
.form-input {
  width: 100%;
  font-family: inherit;
  font-size: inherit;
  border: 1px solid #d3d3d3;
  border-radius: var(--border-radius);
  outline: none;
  padding: 1rem;
}
.form-textarea {
  height: 128px;
  resize: vertical;
}
.form-btn {
  background-color: var(--accent-color);
  color: var(--light-color);
  padding: 1em 1.75em;
  box-shadow: 0 10px 1em rgba(48, 48, 48, 0.3);
  border-radius: var(--border-radius);
  border: none;
  cursor: pointer;
}
/* footer */
.footer {
  padding: 1em 0;
}
.footer-text {
  display: flex;
  justify-content: center;
  font-size: 0.95rem;
}
.social-list {
  list-style: none;
  display: flex;
  justify-content: center;
  padding: 0;
}
.social-link {
  font-size: 1rem;
  margin: 0.3em;
  color: var(--accent-color);
  text-decoration: none;
  outline: none;
}
/* project page */
.project-item-individual {
  padding: 1em 2em 2em;
  max-width: 1000px;
  margin: 7em auto 0;
}
.project-item-individual h1 {
  max-width: 600px;
  margin: 0 auto 1em auto;
  text-align: center;
}
.project-item-individual p {
  max-width: 600px;
  margin: 2em auto;
}
.group-one {
  max-width: 600px;
  margin: 0 auto 2em auto;
  text-align: center;
}
.group-two {
  max-width: 600px;
  margin: auto;
  text-align: center;
}