*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
/* custom properties */
:root {
  --font-family-primary: 'Montserrat', sans-serif;
  --font-weight-regular: 400;
  --font-weight-bold: 700;
  --light-color: #f9f9f9;
  --dark-color: #303030;
  --accent-color: #4163fa;
  --font-size-h1: 3rem;
  --font-size-h2: 2.25rem;
  --font-size-h3: 1.25rem;
  --font-size-body: 1rem;
  --box-shadow: 0 0.5em 1em -0.125em rgba(48, 48, 48, 0.5), 0 0 0 1px rgba(48, 48, 48, 0.1);
  --border-radius: 0.3em;
  --linear-gradient: linear-gradient(45deg, #4163fa, #41a7fa);
}
@media (min-width: 800px) {
  :root {
    --font-size-h1: 4.5rem;
    --font-size-h2: 3.75rem;
    --font-size-h3: 1.5rem;
    --font-size-body: 1.125rem;
  }
}
html {
  scroll-behavior: smooth;
}
/* general styles */
body {
  font-family: var(--font-family-primary);
  font-size: var(--font-size-body);
  line-height: 1.6;
  color: var(--dark-color);
}
section {
  padding: 5em 0.5em;
}
img {
  display: block;
  max-width: 100%;
}
strong {
  display: block;
  font-weight: var(--font-weight-bold);
}
/* typography */
h1,
h2,
h3 {
  line-height: 1;
  margin: 0;
  text-transform: uppercase;
}
h1 {
    font-size: var(--font-size-h1);
}
h2 {
    font-size: var(--font-size-h2);
}
h3 {
    font-size: var(--font-size-h3);
}
p {
  padding-bottom: 1em;
}
a {
  text-decoration: none;
}
li {
  list-style: none;
}
button {
  border: none;
  outline: none;
}
.btn {
  background: var(--linear-gradient);
  color: var(--light-color);
  padding: 0.8em 1em;
  box-shadow: var(--box-shadow);
  border-radius: var(--border-radius);
  cursor: pointer;
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  -moz-transition: opacity 200ms ease-in-out;
  -webkit-transition: opacity 200ms ease-in-out;
  transition: opacity 200ms ease-in-out;
}
.btn:hover {
  opacity: 0.85;
}
.mr-1 {
  margin-right: 1em;
}
.container {
  max-width: 1000px;
  margin: 2em auto;
  padding: 2em 0.5em;
}
.main-content {
  min-height: calc(100vh - 116.8px);
}
.section-title {
  text-align: center;
  padding-bottom: 1em;
}
.section-subtitle {
  margin: 0;
  font-size: var(--font-size-h3);
}
/* navbar */
.navbar {
  padding: 1.30em 0;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--linear-gradient);
  opacity: 0.98;
  color: var(--light-color);
  z-index: 1;
}
.navbar-brand {
  font-size: 1.25rem;
  font-weight: 700;
  margin-right: 8em;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: var(--light-color);
}
.navbar-list {
  display: flex;
  padding-left: 0;
}
.navbar-link {
  color: var(--light-color);
  margin: 0 1em;
  font-size: 0.875rem;
  letter-spacing: 1px;
  text-transform: uppercase;
  -moz-transition: opacity 100ms ease-in-out;
  -webkit-transition: opacity 100ms ease-in-out;
  transition: opacity 100ms ease-in-out;
}
.navbar-link:focus,
.navbar-link:hover {
  opacity: 0.75;
}
/* introduction */
.section-title-introduction {
  font-weight: var(--font-weight-regular);
  text-align: left;
}
.section-title-introduction .fw-bold {
  display: block;
}
.section-subtitle-introduction {
  background: var(--linear-gradient);
  color: var(--light-color);
  font-weight: var(--font-weight-bold);
  text-transform: uppercase;
  padding: 0.25em 1em;
  margin: 0.5em 0;
  border-radius: var(--border-radius);
}
.section-subtitle-introduction {
  display: inline-block;
}
.introduction-img {
  border: 5px solid transparent;
  border-radius: var(--border-radius);
  background: linear-gradient(rgb(255, 255, 255), rgb(255, 255, 255)), var(--linear-gradient);
  background-clip: padding-box, border-box;
  background-origin: padding-box, border-box;
  box-shadow: var(--box-shadow);
}
@media (min-width: 600px) {
  .introduction {
    display: grid;
    width: min-content;
    margin: 0 auto 0;
    grid-column-gap: 1em;
    grid-template-areas:
      "img title"
      "subtitle subtitle";
    grid-template-columns: min-content max-content;
  }
  .introduction-img {
    grid-area: img;
    min-width: 250px;
  }
  .section-subtitle-introduction {
    grid-column: -1 / 1;
  }
}
/* skills */
.skills {
  margin-bottom: 4em;
  text-align: center;
  border-radius: var(--border-radius);
}
.skill {
  max-width: 300px;
  margin: 0 auto;
}
.skill-heading {
  padding: 1em 0;
}
.skill-icon {
  font-size: 3rem;
  color: var(--accent-color);
}
.skill-text {
  padding: 1em 0.5em;
}
.cta {
  display: flex;
  justify-content: center;
}
@media (min-width: 800px) {
  
  .skills {
    display: flex;
  }
}
/* about */
.section-title-about {
  text-align: center;
  padding-bottom: 1em;
}
.section-subtitle-about {
  background: var(--linear-gradient);
  color: var(--light-color);
  padding: 0.25em 1em;
  font-weight: var(--font-weight-bold);
  text-transform: uppercase;
  margin: 0 0 1em 0;
  border-radius: var(--border-radius);
}
.about-content {
  padding: 0 0.5em 1em 0.5em;
}
.about-img {
  border: 5px solid transparent;
  border-radius: var(--border-radius);
  background: linear-gradient(rgb(255, 255, 255), rgb(255, 255, 255)), var(--linear-gradient);
  background-clip: padding-box, border-box;
  background-origin: padding-box, border-box;
  box-shadow: var(--box-shadow);
}
@media (min-width: 600px) {
  .about {
    display: grid;
    grid-template-columns: 1fr 400px;
    grid-template-areas:
      "title title"
      "subtitle subtitle"
      "content img";
    grid-column-gap: 2em;
  }
  .section-title-about {
    grid-area: title;
  }
  .section-subtitle-about {
    grid-column: 1 / -1;
  }
}
/* projects */
.projects {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
}
.project-item {
  margin: 1em;
  padding: 2em;
  text-align: center;
  border: 2px solid transparent;
  border-radius: var(--border-radius);
  background: linear-gradient(rgb(255, 255, 255), rgb(255, 255, 255)), var(--linear-gradient);
  background-clip: padding-box, border-box;
  background-origin: padding-box, border-box;
  box-shadow: var(--box-shadow);
}
.project-img {
  padding-bottom: 1em;
}
.project-heading {
  padding-bottom: 1em;
}
.project-text {
  padding-bottom: 1em;
}
.project-link {
  color: var(--accent-color);
  text-transform: uppercase;
}
/* contact */
.form-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}
.form {
  width: 800px;
  padding: 0 2em;
}
.form-group {
  margin: 2em 0;
}
.form-input {
  width: 100%;
  font-family: inherit;
  font-size: 1.125rem;
  border: 1px solid var(--dark-color);
  border-radius: var(--border-radius);
  padding: 1em;
  resize: vertical;
}
.form-btn {
  width: 100%;
  background: var(--linear-gradient);
  color: var(--light-color);
  margin-bottom: 1em;
  padding: 0.8em 1em;
  box-shadow: var(--box-shadow);
  border-radius: var(--border-radius);
  cursor: pointer;
  font-family: inherit;
  font-size: 1.125rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  -moz-transition: opacity 200ms ease-in-out;
  -webkit-transition: opacity 200ms ease-in-out;
  transition: opacity 200ms ease-in-out;
}
.form-btn:hover {
  opacity: 0.85;
}
/* footer */
.footer {
  padding: 1em 0;
}
.social-list {
  display: flex;
  justify-content: center;
}
.social-link {
  font-size: 1.5rem;
  margin-right: 0.5em;
  color: var(--light-color);
  background: var(--linear-gradient);
  padding: 5px 10px;
  border-radius: 5px;
  -moz-transition: opacity 100ms ease-in-out;
  -webkit-transition: opacity 100ms ease-in-out;
  transition: opacity 100ms ease-in-out;
}
.social-link:hover {
  opacity: 0.85;
}
.footer-text {
  font-size: 0.75rem;
  color: #6e6d6d;
  padding-top: 2em;
  padding-bottom: 0;
  text-align: center;
}
/* project page */
.project-page-container {
  max-width: 1000px;
  margin: 5em auto;
  padding: 3em 0.5em 2em 0.5em;
}
.project-page-img {
  padding: 2em 0;
}
.text-center {
  text-align: center;
}
.text-center:last-child {
  margin-top: 1em;
}
@media (max-width: 768px) {
/* navbar */
.navbar {
  padding: 0.2em 0;
  flex-direction: column;
  align-items: flex-start;
}
.navbar-brand {
  margin: 0 auto;
  padding: 0;
}
.navbar-list {
  max-height: 0;
  overflow: hidden;
  flex-direction: column;
  padding: 0;
  -moz-transition: max-height 250ms ease-in-out;
  -webkit-transition: max-height 250ms ease-in-out;
  transition: max-height 250ms ease-in-out;
}
.navbar-item {
  margin: 1em 0 1em 1em;
}
.navbar-link {
  margin: 0;
}
.navbar-list.navbar-show {
  max-height: 100vh;
}
.navbar-toggle {
  position: fixed;
  top: 0.125em;
  left: 0.4em;
  width: 30px;
  height: 30px;
  background-color: transparent;
  cursor: pointer;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  }
.hamburger {
  position: relative;
  left: -8px;
}
.hamburger::before,
.hamburger::after {
  position: absolute;
  content: '';
  background-color: var(--light-color);
  width: 17px;
  height: 2px;
  border-radius: var(--border-radius);
  -moz-transition: transform 250ms ease-in-out;
  -webkit-transition: transform 250ms ease-in-out;
  transition: transform 250ms ease-in-out;
}
.hamburger::before {
  transform: translateY(-3px);
}
.hamburger::after {
  transform: translateY(3px);
}
.navbar-open .hamburger::before {
  transform: rotate(45deg);
}
.navbar-open .hamburger::after {
  transform: rotate(-45deg);
}
.container {
  margin: 0 auto;
  padding: 0 0.5em;
}
.project-page-container {
  margin: 2em auto;
  padding: 3em 0.5em 2em 0.5em;
}
/* projects */
.projects {
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  }
}