/* Reset */
*,
*::before,
*::after {
  box-sizing: border-box;
}
/* Custom properties */
:root {
  --font-family-primary: 'Montserrat', sans-serif;
  --font-weight-regular: 400;
  --font-weight-bold: 700;
  --primary-color: #007aff;
  --light-color: #f9f9f9;
  --dark-color: #303030;
  --font-size-h1: 3rem;
  --font-size-h2: 2.25rem;
  --font-size-h3: 1.25rem;
  --font-size-body: 1rem;
  --box-shadow: 0.25em 0.25em 0.75em rgba(0, 0, 0, 0.25),
    0.125em 0.125em 0.25em rgba(0, 0, 0, 0.15);
  --border-radius: 5px;
  --small-font-size: 0.75rem;
}
/* Media query */
@media (min-width: 800px) {
  :root {
    --font-size-h1: 4.5rem;
    --font-size-h2: 3.75rem;
    --font-size-h3: 1.5rem;
    --font-size-body: 1.125rem;
  }
}
/* Smooth scroll */
html {
  scroll-behavior: smooth;
}
/* General styles */
body {
  font-family: var(--font-family-primary);
  font-size: var(--font-size-body);
  line-height: 1.6;
  color: var(--dark-color);
  margin: 0;
}
a {
  text-decoration: none;
}
p {
  color: var(--dark-color);
}
section {
  padding: 5em 0.5em;
}
img {
  display: block;
  max-width: 100%;
}
strong {
  font-weight: var(--font-weight-bold);
}
/* Button */
.btn {
  display: inline-block;
  margin: 0.5em 0 0 5em;
  padding: 0.4em 1.2em;
  background-color: var(--primary-color);
  color: var(--light-color);
  border: none;
  outline: none;
  border-radius: var(--border-radius);
  font-size: 14px;
  cursor: pointer;
  transition: 0.3s;
}
.btn:hover {
  background-color: #046ad8;
}
/* Typography */
h1,
h2,
h3 {
  line-height: 1;
  margin: 0;
  color: var(--dark-color);
}
h1 {
  font-size: var(--font-size-h1);
}
h2 {
  font-size: var(--font-size-h2);
}
h3 {
  font-size: var(--font-size-h3);
}
.section__title {
  margin-bottom: 0.5em;
}
.section__subtitle {
  margin: 0;
  font-size: var(--font-size-h3);
}
/* Nav */
.nav {
  position: fixed;
  background-color: var(--light-color);
  color: var(--dark-color);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 100;
  transform: translateY(-100%);
  transition: transform 350ms ease;
}
.nav__list {
  list-style: none;
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  margin: 0;
  padding: 0;
}
.nav__link {
  color: var(--dark-color);
  font-weight: var(--font-weight-bold);
  font-size: var(--font-size-h2);
}
.nav-toggle {
  padding: 0.5em;
  background-color: transparent;
  border: none;
  cursor: pointer;
  position: absolute;
  left: 1em;
  top: 1.5em;
  z-index: 1000;
}
.nav-toggle:focus {
  outline: none;
}
.nav-open .nav {
  transform: translateY(0);
}
.nav-open .nav-toggle {
  position: fixed;
}
.nav-open .hamburger {
  transform: rotate(45deg);
}
.nav-open .hamburger::before {
  opacity: 0;
}
.nav-open .hamburger::after {
  transform: rotate(90deg) translate(6px);
}
.hamburger {
  display: block;
  position: relative;
}
.hamburger,
.hamburger::before,
.hamburger::after {
  background-color: var(--dark-color);
  width: 2em;
  height: 3px;
  transition: transform 350ms ease;
}
.hamburger::before,
.hamburger::after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
}
.hamburger::before {
  top: 6px;
}
.hamburger::after {
  bottom: 6px;
}
/*  Introduction section  */
.introduction {
  position: relative;
}
.section__title--introduction {
  font-weight: var(--font-weight-regular);
}
.section__title--introduction strong {
  display: block;
}
.section__subtitle--introduction {
  background-color: var(--primary-color);
  color: var(--light-color);
  padding: 0.25em 1em;
  font-weight: var(--font-weight-bold);
  margin-bottom: 1em;
}
.section__subtitle--introduction {
  display: inline-block;
}
/* Media query */
@media (min-width: 600px) {
  .introduction {
    display: grid;
    width: min-content;
    margin: 4em auto 0;
    grid-column-gap: 1em;
    grid-template-areas:
      "img title"
      "img subtitle";
    grid-template-columns: min-content max-content;
  }
  .introduction__img {
    grid-area: img;
    min-width: 250px;
    position: relative;
    z-index: 2;
    box-shadow: var(--box-shadow);
  }
  .section__subtitle--introduction {
    align-self: start;
    grid-column: -1 / 1;
    grid-row: 2;
    text-align: right;
    position: relative;
    left: -1.5em;
    width: calc(100% + 1.5em);
  }
}
/*  Skills section  */
.skills {
  color: var(--dark-color);
  text-align: center;
}
.section__title--skills {
  color: var(--dark-color);
  position: relative;
}
.section__title--skills::after {
  content: "";
  display: block;
  width: 2em;
  height: 1px;
  margin: 0.5em auto 1em;
  background-color: var(--dark-color);
  opacity: 0.25;
}
.skillset {
  margin-bottom: 4em;
}
.skill {
  max-width: 500px;
  margin: 0 auto;
}
/* Media query */
@media (min-width: 800px) {
  
  .skillset {
    display: flex;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
  }
  .skill + .skill {
    margin-left: 2em;
  }
}
/* Profile section */
.profile {
  max-width: 1000px;
  margin: 0 auto;
}
.section__subtitle--profile {
  background-color: var(--primary-color);
  color: var(--light-color);
  padding: 0.25em 1em;
  font-weight: var(--font-weight-bold);
  margin-bottom: 1em;
}
/* Media query */
@media (min-width: 600px) {
  .profile {
    display: grid;
    grid-template-columns: 1fr 200px;
    grid-template-areas:
      "title img"
      "subtitle img"
      "text img";
    grid-column-gap: 2em;
  }
  .section__title--profile {
    grid-area: title;
  }
  .section__subtitle--profile {
    grid-column: 1 / -1;
    grid-row: 2;
    position: relative;
    left: -1em;
    width: calc(100% + 2em);
    padding-left: 1em;
    padding-right: calc(200px + 4em);
  }
  .profile__img {
    grid-area: img;
    position: relative;
    z-index: 2;
    box-shadow: var(--box-shadow);
  }
}
/* Portfolio section */
.portfolio {
  color: var(--dark-color);
  text-align: center;
}
.projects {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}
.project__item {
  margin: 0.5rem;
}
.project__img {
  width: 100%;
  filter: brightness(50%);
  transition: 0.3s;
}
.project__img:hover {
  opacity: 0.8;
}
.project__item h3 {
  color: var(--dark-color);
  margin: 1em 0;
}
/* Contact section */
.contact {
  max-width: 1000px;
  margin: 0 auto;
}
.section__title--contact {
  text-align: center;
}
.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}
.form {
  width: 800px;
  padding: 2rem;
}
.form__group {
  position: relative;
  height: 48px;
  margin-bottom: 1.5rem;
}
.form__input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  font-family: inherit;
  font-size: var(--font-size-body);
  border: 1px solid #d3d3d3;
  border-radius: var(--border-radius);
  outline: none;
  padding: 1rem;
  background-color: transparent;
}
.form__textarea {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100px;
  font-family: inherit;
  font-size: var(--font-size-body);
  border: 1px solid #d3d3d3;
  border-radius: var(--border-radius);
  outline: none;
  padding: 1rem;
  background-color: transparent;
  resize: none;
}
.form__label {
  position: absolute;
  left: 1rem;
  top: 1rem;
  padding: 0 0.25rem;
  background-color: #ffffff;
  color: var(--dark-color);
  font-size: var(--font-size-body);
  transition: 0.3s;
  cursor: text;
}
.form-recaptcha {
  margin-top: 5em;
}
.form__submit {
  display: block;
  width: 100%;
  padding: 0.75rem 2rem;
  margin-top: 1.5rem;
  outline: none;
  border: none;
  background-color: var(--primary-color);
  color: var(--light-color);
  font-size: var(--font-size-body);
  border-radius: var(--border-radius);
  cursor: pointer;
  transition: 0.3s;
}
.form__submit:hover {
    background-color: #046ad8;
}
/* Input focus move up label */
.form__input:focus + .form__label {
  top: -0.5rem;
  left: 0.8rem;
  color: var(--primary-color);
  font-size: var(--small-font-size);
  font-weight: var(--font-weight-regular);
}
/* Input focus sticky top label */
.form__input:not(:placeholder-shown).form__input:not(:focus)+ .form__label {
  top: -0.5rem;
  left: 0.8rem;
  font-size: var(--small-font-size);
  font-weight: var(--font-weight-regular);
}
/* Input focus */
.form__input:focus {
  border: 1.5px solid var(--primary-color);
}
/* Textarea focus move up label */
.form__textarea:focus + .form__label {
    top: -0.5rem;
    left: 0.8rem;
    color: var(--primary-color);
    font-size: var(--small-font-size);
    font-weight: var(--font-weight-regular);
  }
  /* Textarea focus sticky top label */
  .form__textarea:not(:placeholder-shown).form__textarea:not(:focus)+ .form__label {
    top: -0.5rem;
    left: 0.8rem;
    font-size: var(--small-font-size);
    font-weight: var(--font-weight-regular);
  }
  /* Textarea focus */
  .form__textarea:focus {
    border: 1.5px solid var(--primary-color);
  }
/* Footer */
.footer {
  text-align: center;
  padding: 1em 0;
  font-size: var(--font-size-h3);
}
.footer a {
  color: inherit;
}
p.footer__copyright {
  padding: 0;
  margin: 0;
}
.footer__copyright {
  font-size: 0.7rem;
  font-weight: var(--font-weight-regular);
}
.social-list {
  list-style: none;
  display: flex;
  justify-content: center;
  margin: 0.8em 0 0.8em;
  padding: 0;
}
.social-list__item {
  margin: 0;
  color: var(--primary-color);
}
.social-list__link {
  margin: 0.5em;
}
/* Individual project page */
.project-item-individual {
  padding: 1em 2em 2em;
  max-width: 1000px;
  margin: 7em auto 0;
}
.project-item-individual h1 {
  max-width: 600px;
  margin: 0 auto 0;
}
.project-item-individual p {
  max-width: 600px;
  margin: 4em auto;
}
.group-one {
  display: flex;
  justify-content: center;
  font-size: 14px;
  margin: 2em 0;
}
.group-one a:first-child  {
  margin-right: 3px;
}
.group-two {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
}